@charset "UTF-8";

.banner{
    background: url(../img/contato-banner.jpg) no-repeat;
    background-position: center !important;
    background-size: cover !important;
    display: flex;
    align-items: center;
    z-index: 0;
    position: relative;
    min-height: 65vh;
}
.banner::before{
    content: '';
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: var(--bg-dark);
}
.banner .content{
    max-width: 60rem;
}
.banner .content h3{
    font-size: 6rem;
    color: var(--white);
}
.banner .content p{
    font-size: 1.6rem;
    color: var(--white);
    line-height: 2;
    padding: 1rem 0;
}

/* infos */
.infos .info-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1.5rem;
}
.infos .info-container .info{
    text-align: center;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border: var(--border);
    border-radius: .5rem;
}
.infos .info-container .info i{
    font-size: 2rem;
    line-height: 6rem;
    width: 6rem;
    height: 6rem;
    margin: 1rem 0;
    color: var(--white);
    background-color: var(--primary-color);
    border-radius: 50%;
}
.infos .info-container .info i:hover{
    background-color: var(--main-color);
}
.infos .info-container .info h3{
    font-size: 2rem;
    font-weight: bolder;
    color: var(--black);
    padding: 1rem 0;
}
.infos .info-container .info p,
.infos .info-container .info address{
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
}
/* infos end */

/* contato */
.contato .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
}
.contato .row .image{
    flex: 1 1 40rem;
    background: url(../img/contato.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    border-radius: .5rem .5rem 0 0;
}
.contato .row .form{
    flex: 1 1 40rem;
    padding: 2rem;
}
.contato .row .form h3{
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    padding-bottom: 1rem;
}
.contato .row .form .inputBox{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    background: transparent;
    border: var(--border);
}
.contato .row .form .inputBox span{
    color: var(--main-color);
    font-size: 2rem;
    padding-left: 2rem;
}
.contato .row .form .inputBox input,
.contato .row .form .inputBox textarea{
    width: 100%;
    padding: 2rem;
    font-size: 1.6rem;
    color: var(--black);
    background: none;
    border-radius: .5rem;
}
.contato .row .form .inputBox textarea{
    height: 15rem;
    resize: none;
}
.contato .row .form .inputBox textarea::-webkit-scrollbar{
    width: .8rem;
}
.contato .row .form .inputBox textarea::-webkit-scrollbar-track{
    background-color: var(--white-light);
}
.contato .row .form .inputBox textarea::-webkit-scrollbar-thumb{
    background-color: var(--primary-color);
    border-radius: .5rem;
}
/* contato end */

/* mapa */
.mapa {
    padding: 0 !important;
    margin: 0 !important;
}
.mapa iframe{
    width: 100vw;
    height: 45rem;
}
/* mapa end */

/*button whatsapp*/
.btn-whatsapp{
    position: fixed;
    bottom: 1.4rem;
    right: 2.4rem;
    z-index: 99;
}
.btn-whatsapp img{
    max-width: 7.4rem;
    transition: .4s;
}
.btn-whatsapp img:hover{
    transform: scale(1.1);
}
.btn-whatsapp .tooltrip-text{
    visibility: hidden;
    position: absolute;
    width: 14rem;
    top: .8rem;
    left: -16rem;
    padding: 1rem;
    border-radius: .8rem;
    text-align: center;
    background-color: var(--black);
    color: var(--white);
    opacity: 0;
    transition: opacity .4s;
    font-size: 1.7rem;
    font-weight: 700;
    line-height: 1.5;
}
.btn-whatsapp:hover .tooltrip-text{
    visibility: visible;
    opacity: 1;
}
/*button whatsapp*/

@media(max-width: 768px){
    .banner .content h3{
        font-size: 5rem;
    }
}

@media(max-width: 480px){
    .banner .content h3{
        font-size: 4rem;
    }
    .contato .row .image{
        display: none;
    }
}
